<div class="banner" >
  <h1><strong>Un Toit Pour Tous</strong></h1>
  <p>Les animaux sont nés pour nous apprendre à aimer. Ensemble, offrons leurs la douceur d'un foyer !</p>

  <div class="d-flex justify-content-around">
    <p class="buttons btn btn-dark px-5"><%= link_to 'Voir tous les animaux', animals_path%></p>
    <p class="buttons btn btn-dark px-5"><%= link_to "Mettre à l'adoption",  new_animal_path %></p>
  </div>
</div>

<div class="d-flex ">
  <p class="buttons btn btn-dark px-3"><%= link_to 'Chiens', animals_path%></p>
  <p class="buttons btn btn-dark mx-1 px-3"><%= link_to 'Chats', animals_path%></p>
  <p class="buttons btn btn-dark mx-1 px-3"><%= link_to 'Oiseaux', animals_path%></p>
  <p class="buttons btn btn-dark mx-1 px-3"><%= link_to 'Rongeurs', animals_path%></p>
  <p class="buttons btn btn-dark mx-1 px-3"><%= link_to 'Autres', animals_path%></p>
</div>

<h3>Découvrez nos derniers arrivants!</h3>
<div class="container">
  <div class="row row-cols-3 justify-content-around">
    <% @animals.last(3).reverse.each do |animal| %>
    <div class="card" style="width: 16rem;">
       <%= cl_image_tag animal.photo.key, crop: :fill %>
      <div class="card-body">
        <h5 class="card-title"><%= animal.name %></h5>
        <p class="card-text"><%= animal.description %></p>
        <p class="btn btn-dark "><%= link_to 'Voir', animal_path(animal) %></p>
      </div>
    </div>
  <% end %>
  </div>
</div>
